.commande{

padding:  2.5px;
}
.commande:hover{
    background-color: rgba(255,255,255,0.4);
    cursor: pointer;
}
#commandes{

border: 1px solid;

width:  80%;

margin: 20px auto;
}
#commandes .title{background-color:  #1abc9c;padding:  5px;font-size:  16px;font-weight:  bold;}